<header>
    <span>Node <em>&</em> Express</span>
    <nav>
        <a href="/">Главная</a>
        <a href="/about">Про нас</a>
    </nav>
    <form method="post" action="/search-user">
        <input type="text" name="username" placeholder="Имя плользователя">
        <button type="submit">Поиск</button>
    </form>
</header>